@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@layer utilities {
  .font-michroma {
    font-family: 'Michroma', sans-serif;
  }
  .font-bebas {
    font-family: 'Bebas Neue', sans-serif;
  }
  .font-inter {
    font-family: "Inter", sans-serif;
  }
  .font-pt {
    font-family: "PT Sans", sans-serif;
  }
}